<button mat-raised-button (click)="logout()">
    logout
</button>

<div>{{messageOut}}</div>
<div class="container">
    <div class="from-section">
    </div>
    <div class="message-section">
        <p>
            {{message}}
        </p>
    </div>
</div>
<table mat-table [dataSource]="antrenori" class="mat-elevation-z8 table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="nume">
        <th mat-header-cell *matHeaderCellDef> Nume</th>
        <td mat-cell *matCellDef="let element">{{element.nume}}</td>
    </ng-container>

    <ng-container matColumnDef="varsta">
        <th mat-header-cell *matHeaderCellDef> Varsta</th>
        <td mat-cell *matCellDef="let element">{{element.varsta}}</td>
    </ng-container>

    <ng-container matColumnDef="telefon">
        <th mat-header-cell *matHeaderCellDef> Telefon</th>
        <td mat-cell *matCellDef="let element">{{element.telefon}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <ng-container matColumnDef="optiuni">
        <th mat-header-cell *matHeaderCellDef> Optiuni</th>
        <td mat-cell *matCellDef="let element">{{element.optiuni}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> edit</th>
        <td class="delete-action" mat-cell *matCellDef="let element">
            <mat-icon (click)="editAntrenor(element)">
                edit
            </mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td class="delete-action" mat-cell *matCellDef="let element">
            <mat-icon (click)="deleteAnt(element)">
                delete
            </mat-icon>
        </td>
    </ng-container>
    <ng-container matColumnDef="profil">
        <th mat-header-cell *matHeaderCellDef> profil</th>
        <td class="profile-action" mat-cell *matCellDef="let element">
            <mat-icon (click)="profilAntrenor(element.id)">
                person
            </mat-icon>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-raised-button (click)="addAntrenor()">
    Add data
</button>
<app-child [message]="currentMessage" (newMessage)="addNewItem($event)"></app-child>