<div class="navbar navbar-default">
    <div class="divPrincipal">
        <div class="navbar-header">
            <span href="#" class="navbar-brand">Menu</span>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/login">Home</a></li>
            <li><a href="/trainers">Trainers</a></li>
            <li *ngIf="key"><a href="/users">Users</a></li>
        </ul>
        <div *ngIf="check(key); else cond1" class="last">
            <button mat-raised-button (click)="login($event)" class="last " >Login</button>
        </div>
        <div *ngIf="check(key)" class="last">
            <button mat-raised-button routerLink="/register" class="last " >Register</button>
        </div>
        <ng-template #cond1>
            <div class="last">
                <button mat-raised-button (click)="logout($event)" class="last " >Logout</button>
            </div>
        </ng-template>
    </div>
</div>

 