<div class="container">
    <h1 class="title">
        {{title}}
    </h1>
    <form [formGroup]="antrenorForm" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Nume</mat-label>
            <input matInput placeholder="Nume antrenor" formControlName="nume" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput placeholder="Varsta antrenor" formControlName="varsta" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Telefon antrenor" formControlName="telefon" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email antrenor" formControlName="email" />
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="data ? updateAntrenor():save()">
        Save
    </button>
</div>

