<div class="container">
    <div class="name">Logare</div>
    <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Parola</mat-label>
            <input matInput placeholder="Parola" formControlName="parola" />
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="login()">
        Login
    </button>
    
</div>
